# Ignore Node.js dependencies (Frontend)
client/ams/node_modules/
client/ams/dist/
client/ams/.env

# Ignore Python/Django dependencies (Backend)
server/venv/
server/__pycache__/
server/.env
server/db.sqlite3

# Ignore editor/OS specific files
.vscode/
.idea/
.DS_Store
